extends layout

block content
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *View for the pick up area
    br
  br
  br
  .container
    br
    h1.fontCenter.deisBlueFont.underline Completed Orders
    br
    table.table.table-bordered.table-striped
      tbody
        tr
          td.underline
            | Order Number
          td.underline
            | Sandwich
          td.underline
            | Hot Dog
          td.underline
            | Bread
          td.underline
            | Toppings
          td.underline
            | Condiments
          td.underline
            | Name
        tr
          td
            | 111
          td
            | Michael Leung
          td
            | Roast Beef
          td
            | --
          td
            | Sour Dough
          td
            | Honey Roasted Onions, Roasted Veggies
          td
            | Chipotle Aioli
        tr
          td
            | 112
          td
            | John Johnson
          td
            | --
          td
            | Sherman Dog
          td
            | --
          td
            | --
          td
            | Ketchup
        tr
          td
            | 113
          td
            | Joe Green
          td
            | Chicken Salad
          td
            | --
          td
            | Gluten Free Bread
          td
            | Tomato, Lettuce
          td
            | Deli Mustard
