extends layout

block content
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *Orders are made first come first serve
    br
  .container
    br
    br
    img.proportion(src ='/images/deli.jpg')
    br
    br
  
