extends layout

block content
  body
  .container.blueBC
    br
    h1.big.mono.underline.white.center Log In with Google
    br
    a.btn.btn-danger.leftBorder(href="/auth/google")
          span.fa.fa-google-plus  Google
    br
    br
    br
    br
    br
