extends layout

block content
  body.bc
  .container.deisBlue
    br
    h1.fontCenter.white.bold Louis' Deli
    p.fontCenter.white Online order form for students
    p.fontCenter.white *Orders are made first come first serve
    br
  br
  br
  .container.deisBlue
    br
    h1.fontCenter.white.bold Order Sent
    p.fontCenter.white Your Order Number is 111
    br
    p.fontCenter.white Present this number and your Brandeis ID at the pick up area to get food items
    p.fontCenter.white Thank your for choosing Louis' Deli
    p.fontCenter.white Have a nice day!
    br
